.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}
.c-inner{
    width: 1152px;
    margin: 0 auto;
}
.group-info .inquiry-area,
.sc-new .link-all,
.sc-board .link-all,
.sc-banner .banner-slide .slide-control [class*="btn-"],
.group-slide .slide-control [class*="btn-"],
.header .search-area .btn-submit,
.header .logo-area .logo a::before{
    background-image: url(../images/sp-bg.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
}
.header .sub-logo-area a::before{
    background-image: url(../images/sub-logo.png);
    background-size: 133px 51px;
    background-repeat: no-repeat;
}

.header .search-area .ico-keyboard{
    background-image: url(../images/ico-keyboard.png);
    background-size: 29px 16px;
    background-repeat: no-repeat;
}
.sc-visual .group-nav .ico{
    background-image: url(../images/ico-main-slide.png);
    background-size: 300px 300px;
    background-repeat: no-repeat;
}
.sc-corona .corona-title::before{
    background-image: url(../images/corona-title.png);
    background-size: 54px 16px;
    background-repeat: no-repeat;
}
.sc-corona .link-all::after{
    background-image: url(../images/corona-btn.png);
    background-size: 8px 11px;
    background-repeat: no-repeat;
}
.sc-municipal .side-news-area{
    background-image: url(../images/side-news.jpg);
    background-size: 360px;
    background-repeat: no-repeat;
}
.sc-mayor .mayor-link,
.sc-mayor .link-area .link-item .link{
    background-image: url(../images/sc-mayor-bg.png);
    background-size: 172px 116px;
    background-repeat: no-repeat;
}
.sc-service li i{
    background-image: url(../images/ico-service-item.png);
    background-size: 1200px 60px;
    background-repeat: no-repeat;
}
.sc-service .link-all::after{
    background-image: url(../images/ico-service-link.png);
    background-size: 6px 11px;
    background-repeat: no-repeat;
}
.sc-service .service-area .link-story,
.sc-service .service-area .link-story:hover,
.sc-service .service-area .link-festival,
.sc-service .service-area .link-festival:hover{
    background-image: url(../images/service-link.png);
    background-size: 160px 60px;
    background-repeat: no-repeat;
}
.sc-direct .banner-item .banner strong::after{
    background-image: url(../images/sc-banner.jpg);
    background-size: 230px 70px;
    background-repeat: no-repeat;
}
.sc-info li i{
    background-image: url(../images/ico-sc-info.png);
    background-size: 315px 315px;
    background-repeat: no-repeat;
}
.sc-media .group-sns{
    background-image: url(../images/sc-sns.jpg);
    background-size: 350px 195px;
    background-repeat: no-repeat;
}
.sc-media .group-sns .sns-list .sns-item,
.sc-media .group-sns h3::after{
    background-image: url(../images/sc-sns-list.png);
    background-size: 280px 40px;
    background-repeat: no-repeat;
}
.group-link .sns-item{
    background-image: url(../images/ft-sns-list.png);
    background-size: 175px 50px;
    background-repeat: no-repeat;
}