.container .inner3{
    display: flex;
    justify-content: space-between;
}
.colum-left{
    width: 770px;
}
.colum-right{
    width: 360px;
    display: flex;
    flex-direction: column;
}
/* SC-VISUAL */
.sc-visual{
   display: flex;
   justify-content: space-between;
}
.sc-visual .group-nav{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.sc-visual .group-nav button{
    position: relative;
    width: 80px;
    height: 175px;
    background: #d2e1e9;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sc-visual .group-nav button.active{ 
    background: #0158a8; 
    color: #fff;
}
.sc-visual .group-nav button.active::after{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    rotate: 45deg;
    width: 50px;
    height: 50px;
    background: #0158a8;
    content: '';
    z-index: -1;
}
.sc-visual .group-nav .ico{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}
.sc-visual .group-nav .new .ico{ background-position: 0 0; }
.sc-visual .group-nav .citizen .ico{ background-position: -50px 0; }
.sc-visual .group-slide .main-slide{
    width: 690px;
    height: 350px;
}
.sc-visual .group-slide .main-slide .swiper-slide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc-visual .group-slide .main-slide .swiper-slide .slide-img-title{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    padding: 10px 0 10px 10px;
    color: #fff;
    font-size: 14px;
}
.sc-visual .group-slide .main-slide .slide-control{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 120px;
    height: 35px;
    z-index: 1;
}
.sc-visual .group-slide .slide-control .fraction{
    color: #fff;
    font-size: 14px;
    width: auto;
}
.sc-visual .group-slide .slide-control [class*="btn-"]{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9999;
}
.sc-visual .group-slide .slide-control .btn-prev{
    background-position: -237px -284px;
    margin-right: 5px;
}
.sc-visual .group-slide .slide-control .btn-autoplay{ background-position: -283px -284px; }
.sc-visual .group-slide .slide-control .btn-autoplay.active{ background-position: -269px -284px; }
.sc-visual .group-slide .slide-control .btn-next{
    background-position: -255px -284px;
}
/* SC-CORONA */
.sc-corona{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    background: #99ddf4;
}
.sc-corona .corona-title::before{
    display: block;
    width: 54px;
    height: 16px;
    background-position: 0 0;
    content: '';
    margin-left: 5px;
}
.sc-corona .count{
    display: flex;
    align-items: center;
    background: #319ac6;
    font-size: 14px;
    padding: 0 0 0 4px;
    border-radius: 5px;
}
.sc-corona .count .title{
    color: #fff;
}
.sc-corona .count .cnt{
    color: #fff;
    font-weight: bold;
}
.sc-corona .link-all{
    color: #fff;
    background: #000;
    font-size: 13px;
    margin-left: 2px;
    padding: 2px 4px;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
}
.sc-corona .link-all::after{
    display: block;
    width: 8px;
    height: 11px;
    background-position: 0 0;
    content: '';
    margin: 2px 0 0 2px;
}
.sc-corona .date{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-right: 5px;
}
/* SC-MUNICIPAL */
.sc-municipal{
    margin: 10px 0;
}
.sc-municipal a{
    position: relative;
    display: block;
    width: 360px;
    height: 204px;
    background-position: 50% 50%;
    content: '';
}
.sc-municipal img{
    display: block;
    width: 100%;
    height: 100%;
}
.sc-municipal .title{
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 14px;
}
/* SC-MAYOR */
.sc-mayor{
    position: relative;
}
.sc-mayor .mayor-link{
    position: absolute;
    top: 18px;
    right: 14px;
    display: block;
    width: 110px;
    height: 30px;
    background-position: -10px -10px;
    content: '';
}
.sc-mayor .link-area{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sc-mayor .link-area .link-list{
    display: flex; 
}
.sc-mayor .link-area .link-item{
    position: relative;
    background: #8b7153;
    width: calc(25% - 1px);
    height: 26px;
    border-left: 1px solid #fff;
    cursor: pointer;
}
.sc-mayor .link-area .link-item:first-child{
    width: 25%;
    border-left: none;
}
.sc-mayor .link-area .link-item .link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    content: '';   
}
.sc-mayor .link-area .link-item .link.manifesto{
    width: 77px; 
    height: 13px;
    background-position: -10px -60px;
}
.sc-mayor .link-area .link-item .link.proposal{
    width: 45px; height: 13px;
    background-position: -10px -93px;
}
.sc-mayor .link-area .link-item .link.vote{
    width: 22px; height: 11px;
    background-position: -140px -10px;
}
.sc-mayor .link-area .link-item .link.poll{
    width: 45px; height: 12px;
    background-position: -75px -93px;
}
/* SC-SERVICE */
.sc-service{
    position: relative;
    padding: 50px 0 0;
}
.sc-service h2{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 24px;
    font-weight: bold;
}
.sc-service ul{
    display: flex;
    justify-content: space-between;
}
.sc-service li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sc-service li i{
    display: block;
    width: 60px;
    height: 60px;
    content: '';
    margin-bottom: 10px;
}
.sc-service li .ic-public{
    background-position: -360px 0;
}
.sc-service li .ic-answer{
    background-position: 0 0;
}
.sc-service li .ic-job{
    background-position: -120px 0;
}
.sc-service li .ic-estate{
    background-position: -300px 0;
}
.sc-service li .ic-lifelong{
    background-position: -180px 0;
}
.sc-service li .ic-welfare{
    background-position: -960px 0;
}
.sc-service li .ic-housing{
    background-position: -780px 0;
}
.sc-service li .ic-youth{
    background-position: -1140px 0;
}
.sc-service li .ic-hand{
    background-position: -1020px 0;
}
.sc-service li .ic-imagined{
    background-position: -60px 0;
}
.sc-service li .ic-ebook{
    background-position: -1080px 0;
}
.sc-service li .ic-council{
    background-position: -600px 0;
}
.sc-service li span{
    font-size: 15px;
    text-align: center;
}
.sc-service .link-all{
    position: absolute;
    top: 45px;
    left: 140px;
    padding: 5px 25px 5px 10px;
    border: 1px solid #ddd;
    font-size: 15px;
}
.sc-service .link-all::after{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: block;
    width: 6px;
    height: 11px;
    content: '';
}
.sc-service .service-area{
    position: absolute;
    top: 45px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.sc-service .service-area .link-story{
    position: relative;
    display: block;
    width: 65px;
    height: 30px;
    background-position: 0 0;
    content: '';
}
.sc-service .service-area .link-story::after{
    position: absolute;
    top: 7px;
    right: -15px;
    width: 1px;
    height: 15px;
    background: #dbdbdb;
    content: '';
}
.sc-service .service-area .link-story:hover{
    background-position: 0 -30px;
}
.sc-service .service-area .link-festival{
    display: block;
    width: 95px;
    height: 30px;
    background-position: -65px 0;
    content: '';
}
.sc-service .service-area .link-festival:hover{
    background-position: -65px -30px;
}
/* SC-DIRECT */
.sc-direct{
    margin-top: 35px;
    background: #eff4f8;
}
.sc-direct .list-banner{
    width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 110px;
}
.sc-direct .banner-item{
    padding: 20px;
    position: relative;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sc-direct .banner-item::before{
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 1px;
    height: 80%;
    background: #dbdbdb;
    content: '';
}
.sc-direct .banner-item:first-child:before{
    width: 0;
}
.sc-direct .banner-item .banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
}
.sc-direct .banner-item span{
    margin-bottom: 10px;
    font-size: 14px;
}
.sc-direct .banner-item strong{
    position: relative;
    font-weight: bold;
}
.sc-direct .banner-item .banner strong::after{
    display: inline-block;
    vertical-align: top;
    margin-top: -2px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-position: -180px -35px;
    content: '';
}
.inner4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.ev-house{color: #c35c3c;}
.ev-work{color: #028ab6;}
.ev-green{color: #599100;}
.ev-wel{color: #d76000;}
.ev-culture{color: #9b64d3;}
/* SC-BOARD */
.sc-board{
    width: 360px;
    position: relative;
}
.sc-board .link-all{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 22px;
    height: 20px;
    background-position: -1px -1px;
    border: 1px solid #ddd;
    content: '';
    cursor: pointer;
}
.sc-board .title{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 2px solid #dbdbdd;
    margin-bottom: 10px;
}
.sc-board .board-list{
    display: flex;
    flex-direction: column;
}
.sc-board .board-list .board-item{
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px 0; 
}
.sc-board .board-list .board-item em{
    padding: 12px 5px 12px 0;
}
.sc-board .board-list .board-item a{
    text-decoration: none;
}
/* SC-OFTEN */
.sc-often{
    width: 360px;
}
.sc-often .title{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}
.sc-often .best-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #eff4f8;
    padding: 10px 0 10px 0;
}
.sc-often .best-list .best-item{
    position: relative;
    width: calc(50% - 12px);
    padding: 6px 15px 6px 25px;
    font-size: 15px;
}
.sc-often .best-list .best-item::before{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    background: #000;
    border-radius: 50%;
    content: '';
}
.sc-often .best-list .best-item a{
    text-decoration: none;
    display: block;
}
/* SC-INFO */
.sc-info{
    border-top: 2px solid #000;
    padding-top: 50px;
}
.sc-info .title{
    font-size: 24px;
    font-weight: bold;
}
.sc-info ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 59px;
    padding: 27px 27px 0 27px;
}
.sc-info li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.sc-info li i{
    display: block;
    width: 85px;
    height: 85px;
    content: '';
}
.sc-info li i.ic-house{
    background-position: -10px -10px;
}
.sc-info li i.ic-economy{
    background-position: -220px -10px;;
}
.sc-info li i.ic-traffic{
    background-position: -115px -115px;
}
.sc-info li i.ic-environment{
    background-position: -115px -10px;
}
.sc-info li i.ic-welfare{
    background-position: -220px -115px;
}
.sc-info li i.ic-safety{
    background-position: -10px -220px;
}
.sc-info li i.ic-culture{
    background-position: -10px -115px;
}
.sc-info li i.ic-administration{
    background-position: -115px -220px;
}
/* SC-NEW */
.sc-new{
    margin-top: 50px;
    position: relative;
}
.sc-new h2.title{
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 30px 0;
}
.sc-new .link-all{
    position: absolute; 
    top: 10px;
    right: 0;
    display: block;
    width: 75px;
    background-position: 0 -259px;
    content: '';
    font-size: 14px;
    color: #7d7d7d;
    text-decoration: none;
}
.sc-new .new-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.sc-new .new-list .new-item{
    width: 273px;
    margin-bottom: 20px;
}
.sc-new .new-list .new-item a{
    text-decoration: none;
    display: block;
}
.sc-new .new-list .img-area{
    position: relative;
    overflow: hidden;
}
.sc-new .new-list .img-area img{
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}
.sc-new .new-list .img-area:hover img{
    transform: scale(1.1);
}
.sc-new .new-list .img-area .badge{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 25px;
    color: #fff;
    font-size: 15px;
}
.badge.wel{background: #d76000;}
.badge.work{background: #028ab6;}
.badge.house{background: #c35c3c;}
.badge.green{background: #599100;}
.sc-new .new-list .title{
    display: -webkit-box;
    padding: 15px 0;
    height: 58px;
    width: 100%;
    line-height: 23px;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* SC-MEDIA */
.sc-media{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.sc-media h3{
    font-size: 24px;
    font-weight: bold;
}
.sc-media .group-video{
    width: 280px;
}
.group-video a{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    display: block;
}
.group-video a img{
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}
.group-video a:hover img{
    transform: scale(1.1);
}
.group-video a .title{
    position: absolute;
    bottom:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.sc-media .group-news{
    width: 480px;
}
.group-news .news-list{
    width: 480px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.group-news .news-item{
    padding: 10px 0;
}
.group-news .news-item a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.group-news .news-item em{
    font-size: 16px;
    width: 65px;
    color: #09ac43;
    margin-right: 15px;
}
.group-news .news-item p{
    display: inline-block;
    width:400px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
}
.sc-media .group-sns{
    position: relative;
    display: block;
    width: 350px;
    height: 195px;
    background-position: 0 0;
    content: '';
}
.sc-media .group-sns a{
    text-decoration: none;
}
.sc-media .group-sns h3{
    position: relative;
    font-size: 22px;
    margin: 16px 0 0 10px;
}
.sc-media .group-sns h3::before{
    position: absolute;
    top: -3px;
    left: 125px;
    width: 1px;
    height: 25px;
    background: #000;
    content: '';
}
.sc-media .group-sns h3:after{
    position: absolute;
    top: -3px;
    left: 125px;
    display: block;
    width: 34px;
    height: 24px;
    background-position: -247px 0;
    content: '';
}
.group-sns .sns-list{
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.group-sns .sns-list .sns-item{
    display: block;
    width: 40px;
    height: 40px;
    content: '';
    cursor: pointer;
}
.group-sns .sns-list .sns-item a{
    display: block;
}
.group-sns .sns-list .sns-item.instagram{
    background-position: 0 0;    
}
.group-sns .sns-list .sns-item.facebook{
    background-position: -40px 0;    
}
.group-sns .sns-list .sns-item.twitter{
    background-position: -80px 0;    
}
.group-sns .sns-list .sns-item.blog{
    background-position: -120px 0;    
}
.group-sns .sns-list .sns-item.youtube{
    background-position: -160px 0;    
}
.group-sns .sns-list .sns-item.kakaostory{
    background-position: -200px 0;    
}
/* SC-BANNER */
.sc-banner{
    margin-top: 50px;
    border-top: 2px solid #000;
    padding: 50px 0;
}
.sc-banner .banner-slide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sc-banner .banner-slide .slide-control{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 120px;
    height: 35px;
    z-index: 1;
    margin-top: 5px;
}
.sc-banner .banner-slide .slide-control .fraction{
    font-size: 14px;
    width: auto;
}
.sc-banner .banner-slide .slide-control [class*="btn-"]{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9999;
    border: 1px solid #ccc;
}
.sc-banner .banner-slide .slide-control .btn-prev{
    background-position:  -45px -43px;
    margin-left: 5px;
}
.sc-banner .banner-slide .slide-control .btn-autoplay{ 
    background-position:  -65px -43px; 
    border-left: 0;
    border-right: 0;
}
.sc-banner .banner-slide .slide-control .btn-autoplay.active{ 
    background-position: -101px -43px; 
}

.sc-banner .banner-slide .slide-control .btn-next{
    background-position: -86px -43px;
}
/* SC-RELATIVE */
.sc-relative{
    width: 1152px;
    margin: 0 auto;
}
.sc-relative .relative-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sc-relative .relative-item{
    font-size: 14px;
    width: calc(100% / 5);
    border: 1px solid #d0d0d0;
    background: #f7f7f7;
}
.sc-relative .relative-item + .relative-item{
    border-left: 0;
}
.sc-relative .relative-item > a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
}
.sc-relative .relative-item .relative-title{
    position: relative;
}
.sc-relative .relative-item .relative-title::after{
    position: absolute;
    top: 7px;
    right: -18px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform:rotate(-45deg);
    transition: 0.3s;
    content: '';
}
.sc-relative .relative-item .sub-nav{
    display: none;
}
.sc-relative .relative-item.active{
    background: #e2e2e2;
}
.sc-relative .relative-item.active .relative-title::after{
    top: 3px;
    transform: rotate(135deg);
}
.sc-relative .relative-item .sub-nav{
    position: absolute;
    bottom: 47px;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 1;
}
.sc-relative .sub-nav .sub-list{
    border:1px solid #bbb;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.sc-relative .sub-nav .sub-item{
    width: 25%;
    font-size: 14px;
}
.sc-relative .sub-nav .sub-item a{
    display: block;
    text-align: left;
    padding: 5px 0;
}